/*Цвет текста  для Студио #000000 */
/*Цвет текста  для заголовков #212121 */
/*Цвет текста  для хиро и футера #FFFFFF*/
/*Цвет текста  основной #757575 */
/*Цвет текста  акцент #2196F3 */
/*Цвет текста  адрес футера rgba(255, 255, 255, 0.6) */
/*Цвет для фона Особенности и чем мы занимаемся  #E5E5E5 */
/*Цвет для фона для хиро #2F303A */
/*Цвет для фона для шапки #FFFFFF */
/*Цвет для фона наша команда #FFFFFF */
/*Цвет для фона для футера #2F303A */
/*Цвет для фона вторая страница #E5E5E5 */
/*Цвет для фона для кнопок стр #F5F4FA */
/*Шрифт основной Roboto 400, 500, 700, 900 */
/*Шрифт основной Raleway 700 */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-title: #212121;
  --color-text: #757575;
  --color-blue: #2196f3;
  --color-f-address: rgba(255, 255, 255, 0.6);
  --color-back-hf: #2f303a;
  --color-features: #e5e5e5;
  --color-bg-filter: #f5f4fa;
}
/*Общее применение стилей*/
body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/*Лого в шапке*/

.site-nav .logo {
  color: var(--color-black);
  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav .logo > span {
  color: var(--color-blue);
}

/*навигация по сайту и адрес */

.site-nav .link {
  color: var(--color-title);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-blue);
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav a.link.active {
  color: var(--color-blue);
}

.address .site-address {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.address .site-address:hover,
.address .site-address:focus {
  color: var(--color-blue);
  font-size: 14px;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

/*Секция хиро*/

.hero {
  background-color: var(--color-back-hf);
}

.section .title-hero {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

button.button-hero {
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero button:hover,
.hero button:focus {
  color: var(--color-blue);
  background-color: var(--color-white);
  cursor: pointer;
  font-family: inherit;
}

.hero button:active {
  color: var(--color-blue);
  background-color: var(--color-white);
  cursor: pointer;
  font-family: inherit;
}

/*Фильтр для второй страницы*/

button.button-filter {
  color: var(--color-title);
  background-color: var(--color-bg-filter);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

button.button-filter:hover,
button.button-filter:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filter h3 {
  color: var(--color-title);
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}

.filter p {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}
/*Секция особенности*/

.features h3 {
  color: var(--color-title);
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

/* Секция команда*/

.teams {
  background-color: var(--color-bg-filter);
}

.section h2 {
  color: var(--color-title);
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
}

.teams h3 {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.teams p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/*Подвал*/

.footer {
  background-color: var(--color-back-hf);
}

/*Лого подвала*/

.footer .footer-logo {
  color: var(--color-white);
  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/*Адрес подвала*/

.footer .footer-logo > span {
  color: var(--color-blue);
}

.footer-address > p {
  color: var(--color-white);
}
.footer-address > a {
  color: var(--color-f-address);
  text-decoration: none;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address:hover,
.footer-address:focus,
.footer-address > a:hover,
.footer-address > a:focus {
  color: var(--color-blue);
}
